/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define NAV_L    3
#define SYM_L    4
#define ADJ_L    5

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)


/ {
        combos {
                compatible = "zmk,combos";
                
                combo_e_acute {
                    timeout-ms = <50>;
                    key-positions = <3 4>;
                    bindings = <&kp N2>;      /* Envoie "é" sur un OS en FR */
                    layers = <0 1 2>;         /* ACTIF UNIQUEMENT SUR QWERTY, DVORAK, COLEMAK */
                };
                combo_e_grave {
                            timeout-ms = <50>;
                            key-positions = <2 3>;    /* Touches physiques W et E (Z et E en Azerty) */
                            bindings = <&kp N7>;      /* Envoie "è" sur un OS en FR */
                            layers = <0 1 2>;
                };
        /* Combo pour À (Touche 0 sur AZERTY) */
                combo_a_grave {
                    timeout-ms = <50>;
                    key-positions = <1 2>;    /* Touches physiques Q et W (A et Z en Azerty) */
                    bindings = <&kp N0>;      /* Envoie "à" */
                    layers = <0 1 2>;
                };
        
        /* Combo pour Ç (Touche 9 sur AZERTY) */
                combo_c_cedilla {
                    timeout-ms = <50>;
                    key-positions = <27 28>;  /* Touches physiques C et V */
                    bindings = <&kp N9>;      /* Envoie "ç" */
                    layers = <0 1 2>;
                };
        /* O + P = ^ (Accent Circonflexe / Tréma) */
                combo_circumflex {
                    timeout-ms = <50>;
                    key-positions = <9 10>;   /* Touches O et P */
                    bindings = <&kp LBKT>;    /* LBKT (Crochet Gauche US) = ^¨ en AZERTY */
                    layers = <0 1 2>;
                };
                /* J + K = ( (parenthèse ouvrante) */
                combo_paren_open {
                    timeout-ms = <50>;
                    key-positions = <19 20>;
                    bindings = <&kp N5>;
                    layers = <0 1 2>;
                };
                /* K + L = ) (parenthèse fermante) */
                combo_paren_close {
                    timeout-ms = <50>;
                    key-positions = <20 21>;
                    bindings = <&kp MINUS>;
                    layers = <0 1 2>;
                };
                /* A + Z = € (euro, AltGr+E en AZERTY) */
                combo_euro {
                    timeout-ms = <50>;
                    key-positions = <13 25>;
                    bindings = <&kp RA(E)>;
                    layers = <0 1 2>;
                };
            };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
/* CODE ZMK (QWERTY)
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |  N7   |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * |  N2   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |  SEMI | ENTER |
 * | CTL/N4|   Z   |   X   |   C   |   V   |   B   |  ESC  |-------------------| CAPS  |   M   |   N   | S(;)  |  DOT  | SLASH |  SQT  |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  Nav  |  ALT  |
 */

/* RESULTAT ECRAN (AZERTY)
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |   è   |   A   |   Z   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * |   é   |   Q   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   M   | ENTER |
 * | Ctl/' |   W   |   X   |   C   |   V   |   B   |  ESC  |-------------------| CAPS  |   ,   |   n   |  . ;  |  : /  |  ! §  |   ù   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  Nav  |  ALT  |
 */

                        bindings = <
&kp  N7       &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                         &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  BSPC
&kp  N2       &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                         &kp  H        &kp  J        &kp  K        &kp  L        &kp  SEMI     &kp  ENTER
&mt LCTRL N4  &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  ESC                                           &caps_word    &kp  M        &kp  N        &kp  LS(COMMA) &kp dot_semi &kp  SLASH    &kp  SQT
                                                        &kp  LGUI     &kp  LALT     &sk  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &mo  NAV_L    &kp  LALT
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                dvorak_layer {
/* DVORAK
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   '   |   ,   |   .   |   P   |   Y   |-----------------------------------|   F   |   G   |   C   |   R   |   L   | BKSPC |
 * | TAB   |   A   |   O   |   E   |   U   |   I   |-----------------------------------|   D   |   H   |   T   |   N   |   S   | ENTER |
 * | CTRL  |   ;   |   Q   |   J   |   K   |   X   |  ESC  |-------------------| CAPS  |   B   |   M   |   W   |   V   |   Z   |   /   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */
                        bindings = <
&kp  GRAVE    &kp  SQT      &kp  COMMA    &kp  DOT      &kp  P        &kp  Y                                                                         &kp  F        &kp  G        &kp  C        &kp  R        &kp  L        &kp  BSPC
&kp  TAB      &kp  A        &kp  O        &kp  E        &kp  U        &kp  I                                                                         &kp  D        &kp  H        &kp  T        &kp  N        &kp  S        &kp  ENTER
&kp  LCTRL    &kp  SEMI     &kp  Q        &kp  J        &kp  K        &kp  X        &kp  ESC                                           &caps_word    &kp  B        &kp  M        &kp  W        &kp  V        &kp  Z        &kp  SLASH
                                                        &kp  LGUI     &kp  LALT     &sk  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &kp  LALT     &kp  RGUI
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                colemak_layer {
/* COLEMAK-DH
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   F   |   P   |   B   |-----------------------------------|   J   |   L   |   U   |   Y   |   ;   | BKSPC |
 * | TAB   |   A   |   R   |   S   |   T   |   G   |-----------------------------------|   M   |   N   |   E   |   I   |   O   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   D   |   V   |  ESC  |-------------------| CAPS  |   K   |   H   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */
                        bindings = <
&kp  GRAVE    &kp  Q        &kp  W        &kp  F        &kp  P        &kp  B                                                                         &kp  J        &kp  L        &kp  U        &kp  Y        &kp  SEMI     &kp  BSPC
&kp  TAB      &kp  A        &kp  R        &kp  S        &kp  T        &kp  G                                                                         &kp  M        &kp  N        &kp  E        &kp  I        &kp  O        &kp  ENTER
&kp  LCTRL    &kp  Z        &kp  X        &kp  C        &kp  D        &kp  V        &kp   ESC                                          &caps_word    &kp  K        &kp  H        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  SQT
                                                        &kp  LGUI     &kp  LALT     &sk  LSHIFT    &mo  NAV_L            &mo  SYM_L    &kp  SPACE    &kp  LALT     &kp  RGUI
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                nav_layer {

/* CODE ZMK (QWERTY)
 * Note: LS(Nx) signifie "Shift + Chiffre" pour forcer le chiffre en AZERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |  Copy | LS(N1)| LS(N2)| LS(N3)| LS(N4)| LS(N5)|-----------------------------------| LS(N6)| LS(N7)| LS(N8)| LS(N9)| LS(N0)| trans |
 * |  Cut  |  GUI  |  ALT  |  CTRL | LSHFT | Paste |-----------------------------------| PG_UP |  LEFT |  UP   |  DOWN | RIGHT | PG_DN |
 * | trans |  F1   |  F2   |  F3   |  F4   |  F5   |  Undo |-------------------| Redo  |  F6   |  F7   |  F8   |  F9   |  F10  | RCTRL |
 * |       |       |       |       |---| ADJ_L |       |       |       |
 */

/* RESULTAT ECRAN (AZERTY)
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copie |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   |       |
 * | Coupe |  Win  |  Alt  |  Ctl  |  Maj  | Colle |-----------------------------------| PgHt  | Gauche| Haut  |  Bas  | Droite| PgBas |
 * |       |  F1   |  F2   |  F3   |  F4   |  F5   | Annul |------------------| Refaire|  F6   |  F7   |  F8   |  F9   |  F10  |   `   |
 *                                 |       |       |       |      |---|  ADJ  |        |       |       |
 */
                        bindings = <
&kp  Copy     &kp  LS(N1)   &kp  LS(N2)   &kp  LS(N3)   &kp  LS(N4)   &kp  LS(N5)                                                                    &kp   LS(N6)  &kp  LS(N7)  &kp   LS(N8)  &kp   LS(N9)  &kp  LS(N0)   &trans
&kp  Cut      &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp  LSHFT    &kp  Paste                                                                     &kp   PG_UP   &kp  LEFT    &kp   UP      &kp   DOWN    &kp  RIGHT    &kp PG_DN
&trans        &kp  F1       &kp  F2       &kp  F3       &kp  F4       &kp  F5       &kp Undo                                           &kp  Redo     &kp   F6      &kp  F7      &kp   F8      &kp   F9      &kp  F10      &kp RA(N7)
                                                        &trans        &trans        &trans        &trans                 &mo ADJ_L     &trans        &trans        &trans
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

sym_layer {
/* CODE ZMK (QWERTY)
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |   "   | SLASH | RA(N0)| RA(N3)|  RBKT | LS(') |-----------------------------------|  LBKT |  N1   | LS(\) |  N5   | MINUS |  DEL  |
 * |  < >  | RA(N8)|  N6   | EQUAL | RA(N5)| RA(-) |-----------------------------------|  HOME | RSHFT | RCTRL | LALT  | RGUI  |  END  |
 * | trans | RA(N6)|  N8   | LS(=) | RA(N4)| RA(=) | sk AG |-------------------| K_APP | C_MUT | Vol-  | Vol+  | Play  |   ~   | RCTRL |
 *                 |       |       |       |       |       |           |  ADJ  |
 */

/* RESULTAT ECRAN (AZERTY)
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |   "   |   !   |   @   |   #   |   $   |   %   |-----------------------------------|   ^   |   &   |   *   |   (   |   )   | Supp  |
 * |  < >  |   \   |   -   |   =   |   [   |   ]   |-----------------------------------| Debut |  Maj  |  Ctl  |  Alt  |  Win  |  Fin  |
 * |       |   |   |   _   |   +   |   {   |   }   | AltGr |-------------------| Menu  | Muet  | Vol-  | Vol+  | Play  |   ~   |  Ctl  |
 *                         |       |       |       |       |           |  ADJ  |
 */
            bindings = <
&kp N3           &kp SLASH   &kp RA(N0) &kp RA(N3)    &kp RBKT   &kp LS(SQT)                                                  &kp LBKT   &kp N1       &kp BSLH     &kp N5     &kp MINUS  &kp DEL
&kp NON_US_BSLH  &kp RA(N8)  &kp N6     &kp EQUAL     &kp RA(N5) &kp RA(MINUS)                                                &kp HOME   &kp RSHFT    &kp RCTRL    &kp LALT   &kp RGUI   &kp END
&trans           &kp RA(N6)  &kp N8     &kp LS(EQUAL) &kp RA(N4) &kp RA(EQUAL) &sk RALT                            &kp K_APP  &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp C_PP   &kp RA(N2) &kp RCTRL
                                                &trans     &trans        &trans     &mo ADJ_L     &trans     &trans     &trans     &trans
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

                adj_layer {
/* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | QWERTY| DVORAK| COLEMK|       |       |-----------------------------------|       |  F11  |  F12  |Prt Scr|EP_OFF | EP_ON |
 * | RESET | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       | RESET |
 * |       | LGUI  | LALT  | LCTRL | LSHIFT|       |BT CLR |-------------------|       |       |       |OUT_USB|OUT_BLE|       | BOOTL |
 *                                 |       |       |       |       |---|       |       |       |       |
 */
                        bindings = <
&none         &to  QWERTY_L &to  DVORAK_L &to  COLEMK_L &none         &none                                                                             &none             &kp   F11          &kp   F12  &kp PRINTSCREEN   &ext_power EP_OFF  &ext_power EP_ON
&sys_reset        &bt  BT_SEL 0 &bt  BT_SEL 1 &bt  BT_SEL 2 &bt  BT_SEL 3 &bt  BT_SEL 4                                                                     &none             &none              &none            &none          &none           &sys_reset
&none         &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp LSHIFT    &none         &bt BT_CLR                                         &none            &none             &none              &out  OUT_USB    &out  OUT_BLE  &none           &bootloader
                                                        &trans        &trans        &trans        &trans                 &trans        &trans           &trans            &trans
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
        };
};
